<div class="login-page-background">
    <div *ngIf="showAlert" class="alert alert-{{alertType}} alert-dismissible fade show w-30 error-message" role="alert">
    <strong>{{message}}!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div>
<div class="d-flex justify-content-center align-items-center login-page container mt-5">
    <div class="w-50 rounded shadow-lg login-details">
        <div class="p-3">
            
            <h5 class="text-center login-form-heading">ENTER YOUR EMAIL TO CONTINUE</h5>
        
            <form [formGroup]="loginform" (ngSubmit)="loginform.valid && onLogin()" class="form-group p-2">
            
                <input type="email" name="username" id="femail" placeholder="Username" class="form-control" [ngClass]="{'is-invalid':loginform.get('email')?.invalid && loginform.get('email')?.touched}" formControlName="username">
                <ng-container *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched">
                    <p class="text-danger" *ngIf="loginform.get('email')?.errors?.['required']">Email is required</p>
                    <p class="text-danger" *ngIf="loginform.get('email')?.errors?.['email']">Please enter a vaild email</p>
                </ng-container>
        
                <input type="password" name="password" id="fpass" placeholder="Password" class="form-control mt-2" formControlName="password" [ngClass]="{'is-invalid':loginform.get('password')?.invalid && loginform.get('password')?.touched}">
                <p class="text-danger" *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched">Password is required</p>
                
                <h6 class="text-end mt-2">Forgot Password?</h6>

                <button class="btn btn-info w-100 mt-2">Login</button>
                <p class="text-center mt-2">Don't have an account? <span class="theme-color" routerLink='register'>Create Account</span></p>

                
            </form>
                    
        </div>
    </div>
</div>



    
</div>

 