<div class=" text-center">
    <h1 class="text-info">All Transaction</h1>


    <div class="mb-3">
 <input type="text" class="form-control" placeholder="Search..." (ngModelChange)="debouncedSearch($event)" [(ngModel)]="searchTerm">
</div>

      <table class="table table-bordered">
        <tr>
            <td *ngFor="let head of headers">{{head}}</td>
            <td> 
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#transactionModal">
                + Add Transaction
                </button>
            </td>
        </tr>
        <tr *ngFor="let item of filteredTransactions()">
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.date}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(item)" data-bs-toggle="modal" data-bs-target="#transactionModal">Edit</button>
                <button class="btn btn-dark" (click)="onDelete(item)">Delete</button>
            </td>
        </tr>

        
     

      
    </table>

       <div class="d-flex justify-content-center w-100">
        <div class="text-center">

        <select name="items" [(ngModel)]="itemsPerPage" (change)="onSelectChange(itemsPerPage)">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
        </select>
        <button class="btn btn-info m-2" (click)="backwardClick()" [disabled]="startIndex==0">
            <</button>
                <div *ngFor="let page of PagesArray" class="d-inline ">
                    <button class=" d-inline" [ngClass]="page==counter?'btn btn-info':'btn btn-light'"
                        (click)="executeFn(page)">{{page}}</button>
                </div>
        <button class="btn btn-info m-2" (click)="forwardclick()" [disabled]="initialData?.length<itemsPerPage || endIndex==allTransactions.length"> >

        </button>

                    
        </div>
        </div>




   


   





    <!-- Modal -->
    <div class="modal fade" id="transactionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Transaction Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

            <form [formGroup]="transactionForm" (ngSubmit)="onAdd()">
            <div class="modal-body">

                <input type="hidden" name="id"   formControlName="id" class="form-control">
            
                <label for="famount">Amount</label>
                <input type="number" name="amount" id="famount"  formControlName="amount" class="form-control">

                <label for="fdate">Date</label>
                <input type="date" name="date" id="fdate" formControlName="date" class="form-control">

                <label for="fcategory">Category</label>
            <select name="category" id="fcategory" formControlName="category" class="form-select">
                    <option>Income</option>
                    <option>Expense</option>
            </select>

                <label For="fdescription">Description</label>
                <input type="text" name="description" id="fdescription" formControlName="description" class="form-control">
            
            </div>

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="!showupdate">Save</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="onUpdate()" *ngIf="showupdate">Update</button>
            </div>
    
            </form>
        </div>
    </div>
    </div>
</div>
